<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}URL shortener!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        <style>
            html, body {
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #eff2f7;
            }

            .base {
                align-items: center;
                display: flex;
                height: 328px;
                justify-content: center;
                flex-direction: column;
                padding: 30px;
                max-width: 380px;
                margin: auto;
                border-radius: 24px;
            }

            .base__link {
                background-color: #5ed994;
                color: black;
                padding: 1em 1.5em;
                text-decoration: none;
                margin-bottom: 10px;
            }

            .base__button {
                width: 120px;
                height: 56px;
                color: black;
                background-color: coral;
                cursor: pointer;
                border: 1px;
                border-radius: 25px;
            }
        </style>
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
